<form>
    <nav class="navbar navbar-light bg-light">
        <h1 style="text-align: center;"><a class="navbar-brand">STOCK MANAGEMENT SYSTEM</a></h1>
    </nav>

    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <h3><span class="navbar-brand mb-0 h1">EDIT PRODUCTS </span></h3>
    </nav>

    <div class="form-group" col-md-5>
        <label for="PName">Product ID</label>
        <input type="text" class="form-control" id="PId" aria-describedby="Product Id">
    </div>
    <div class="form-group">
        <label for="PName">Product Name</label>
        <input type="text" class="form-control" id="PName" aria-describedby="Product Name">
    </div>
    <div class="form-group">
        <label for="PPrice"> Product's Price</label>
        <input type="text" class="form-control" id="PPrice">
    </div>
    <div class="form-group">
        <label for="PQuantity"> Product's Quantity</label>
        <input type="text" class="form-control" id="PQuantity">
    </div>
    <div class="form-group">
        <label for="PDescription"> Product's Description</label>
        <input type="text" class="form-control" id="PDescription">
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>